@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {

  font-family: "Roboto", sans-serif;
  font-family: "Bebas Neue", sans-serif;
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/public/fImages/banner/back2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  scroll-behavior: smooth;



}

::-webkit-scrollbar {
  width: 7px;

}


::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}


::-webkit-scrollbar-thumb {
  background-color: #151515;
  border-radius: 10px;
}


::-webkit-scrollbar-thumb:hover {
  background-color: #333;
}

@media only screen and (max-width: 929px) {
  body {

    font-family: "Roboto", sans-serif;
    font-family: "Bebas Neue", sans-serif;
    font-family: "Montserrat", sans-serif;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/public/fImages/banner/13.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;


  }

}

@media only screen and (max-width: 513px) {
  body {

    font-family: "Roboto", sans-serif;
    font-family: "Bebas Neue", sans-serif;
    font-family: "Montserrat", sans-serif;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/public/fImages/banner/back3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;


  }

}

header .logowrapper {
  width: 80px;

}

header .logowrapper img {
  border-radius: 50%;
}